@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter+Tight&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar {
  background-color: white; }
  .navbar .navbar-brand {
    color: #cbbc15;
    font-family: "Staatliches", cursive; }

.navbar-collapse {
  display: grid;
  justify-content: right; }
  .navbar-collapse .nav-link {
    color: black;
    font-family: "Staatliches", cursive; }
    .navbar-collapse .nav-link:hover {
      text-decoration: underline; }

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }
  .img-fluid:hover {
    filter: saturate(180%);
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }

.footer {
  display: grid;
  color: #cbbc15;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white; }

.btn-primary-1 {
  background-color: #3b5998; }

.btn-primary-2 {
  background-color: #55acee; }

.btn-primary-3 {
  background-color: #ac2bac; }

.btn-primary-4 {
  background-color: #ed302f; }

.links a i {
  color: white; }

.title {
  color: #cbbc15;
  font-family: "Inter Tight", sans-serif;
  text-align: center;
  text-decoration: underline; }

.bg {
  display: grid;
  background-image: linear-gradient(white, yellow, white);
  text-align: center; }

.bg h2 {
  font-family: "Inter Tight", sans-serif;
  text-decoration: underline; }

.img1-fluid {
  display: grid;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto; }

.img2-fluid {
  display: grid;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto; }

.footer {
  display: grid;
  color: #cbbc15;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white; }

.btn-primary-1 {
  background-color: #3b5998; }

.btn-primary-2 {
  background-color: #55acee; }

.btn-primary-3 {
  background-color: #ac2bac; }

.btn-primary-4 {
  background-color: #ed302f; }

.links a i {
  color: white; }

.sports h2 {
  display: flex;
  justify-content: center;
  font-family: "Inter Tight", sans-serif;
  padding: 20px 0px 30px 0px;
  color: #cbbc15; }

.competitive {
  display: flex;
  justify-content: space-between; }

.futbol, .basquet {
  font-family: "Inter Tight", sans-serif;
  color: white;
  background-image: url(../images/futbol.jpeg);
  width: 100%;
  height: 400px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto; }

.basquet {
  background-image: url(../images/basuqte.jpg); }

.recreative {
  font-family: "Inter Tight", sans-serif;
  display: flex;
  justify-content: space-around;
  color: #cbbc15; }

.hockey, .volley, .handball {
  font-family: "Inter Tight", sans-serif;
  color: black;
  background-image: url(../images/hockey.jpg);
  width: 100%;
  height: 300px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto; }

.volley {
  background-image: url(../images/voley.jpg);
  color: white; }

.handball {
  background-image: url(../images/handball.jpg);
  color: white; }

.footer {
  display: grid;
  color: #cbbc15;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white; }

.btn-primary-1 {
  background-color: #3b5998; }

.btn-primary-2 {
  background-color: #55acee; }

.btn-primary-3 {
  background-color: #ac2bac; }

.btn-primary-4 {
  background-color: #ed302f; }

.links a i {
  color: white; }

.fix h2 {
  text-align: center;
  color: #cbbc15;
  text-decoration: underline;
  font-family: "Inter Tight", sans-serif; }

.table-responsive {
  display: grid;
  justify-content: center;
  color: black;
  background-color: yellow;
  font-family: "Inter Tight", sans-serif; }

.img3-fluid {
  width: 100%;
  height: 100%; }

.img4-fluid {
  width: 100%;
  height: 100%; }

.footer {
  display: grid;
  color: #cbbc15;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white; }

.btn-primary-1 {
  background-color: #3b5998; }

.btn-primary-2 {
  background-color: #55acee; }

.btn-primary-3 {
  background-color: #ac2bac; }

.btn-primary-4 {
  background-color: #ed302f; }

.links a i {
  color: white; }

.cont {
  background-image: linear-gradient(white, yellow, white); }
  .cont .title2 {
    text-align: center;
    text-decoration: underline;
    font-family: "Inter Tight", sans-serif;
    color: #cbbc15; }

.contc {
  margin-left: auto;
  margin-right: auto; }
  .contc .iframe-responsive {
    position: relative;
    height: 220px;
    width: 340px; }
    .contc .iframe-responsive .contact {
      font-family: "Inter Tight", sans-serif; }
      .contc .iframe-responsive .contact .form-responsive {
        font-family: "Inter Tight", sans-serif; }

.footer {
  display: grid;
  color: #cbbc15;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white; }

.btn-primary-1 {
  background-color: #3b5998; }

.btn-primary-2 {
  background-color: #55acee; }

.btn-primary-3 {
  background-color: #ac2bac; }

.btn-primary-4 {
  background-color: #ed302f; }

.links a i {
  color: white; }
