$transparent: white;
$amarillo: rgb(203, 188, 21);
$negro: black;
$colorfb: #3b5998;
$colortw: #55acee;
$colorig: #ac2bac;
$coloryt: #ed302f;
$background: yellow;


$font1: 'Staatliches', cursive;
$font2: 'Inter Tight', sans-serif;

